{
  "openapi": "3.0",
  "info": {
    "description": "This is a prototype Truss API for the Truss Marketplace.",
    "version": "1.0.6",
    "title": "Truss Marketplace API",
    "contact": {
      "email": "eric@truss-security.io"
    }
  },
  "host": "truss-security.com",
  "basePath": "/v2",
  "tags": [
    {
      "name": "malware",
      "description": "Different types and functions of malware",
      "externalDocs": {
        "description": "Find out more",
        "url": "https://docs.oasis-open.org/cti/stix/v2.1/os/stix-v2.1-os.html#_oxlc4df65spl"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/product/malware": {
      "post": {
        "tags": [
          "malware"
        ],
        "summary": "Create malware",
        "description": "",
        "operationId": "createMalware",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "body",
            "description": "Malware definition",
            "required": true
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateMalware"
        },
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    }
  },

  "components": {
    "requestBodies": {
      "CreateMalware": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "schemas/sdos/malware.json"
            }
          }
        }
      }
    }
  }
}